@import '../../styles/variables';

.login {

  min-height: calc(100vh - ($menu-height + $footer-height));

  text-align: center;

  h1 {
    margin: 2rem 0 1rem 0;
    text-align: center;
  }

  form {
    width: 50rem;
    margin: 0 auto;
  }

  label, input {
    width: 100%;
    padding: .5rem;

    display: block;
    margin: 10px 0;
    border-radius: .4rem;
  }

  margin: 0 0 calc($menu-height + $footer-height) 0;

  @media (min-width: $breakpoint-tablet) {
    margin: calc($menu-height) 0 calc($footer-height) 0;
  }
}