@import '../../public/styles/variables';

.login {

  min-height: calc(100vh - ($menu-height + $footer-height));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    padding: 2rem;
    width: 40rem;
    margin: 0 auto;
  }

  label, input {
    padding: 1rem;
    
    display: block;
    border-radius: .4rem;
  }
  
  input {
    width: 100%;
    border: 1px solid;

    &:focus-visible {
      outline: none;
    }
  }

  label {
    padding: 1rem 1rem 0;
  }

  .invalid {
    min-height: 1.7rem;
    display: block;

    padding: 0 1rem;
    color: red;
    font-size: 1.2rem;
  }

  button {
    margin-top: 2rem;
  }

  margin: 0 0 calc($menu-height + $footer-height) 0;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 0 calc($footer-height) 0;
  }
}