@import '../../public/styles/variables';

.footer{
  height: 3rem;
  width: 100%;

  font-size: 1.2rem;

  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
  color: $color-secondary;
  background: $color-background-secondary;
  
  &.botton {
    bottom: 0;
  }

  div {
    width: 100%;

    max-width: 40rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
