@import '../../public/styles/variables';

.link {
  
  width: 100%;
  margin: 0;
  padding: 0 1rem;

  font-size: 1.4rem;
  
  &.primary {
    color: $color-primary;
  }

  &.secondary {
    color: $color-link-secondary;

    &:hover {
      color: $color-background-hover-primary;
      cursor: pointer;
    }
  }
  
}