@import '../../styles/variables';

.button {
  
  width: 50%;
  margin: 1rem 0 0;
  padding: .5rem;

  border-radius: .4rem;

  border: $color-background-primary;
  background: $color-background-primary;

  &:hover {
    border: solid .1rem $color-primary;
    background: $color-background-hover-primary;
    
    cursor: pointer;
  }
}