@import '../../styles/variables';

.users {

  min-height: calc(100vh - ($menu-height + $footer-height));
  padding: 0 $container-padding;
  width: 100%;

  h1 {
    padding: 2rem 0 1rem 0;
    text-align: center;
  }
  
  .tableContainer {
    width: 100%;
    overflow-x: auto;
  }

  table {
    margin: 4rem auto 0;
    border-spacing: 0;

    thead {
      background: $color-background-primary;
    }
    td {
      padding: .5rem 1rem;
    }
    tbody {
      tr:nth-child(even) {
        background: #f1f1f1;
      }
    }
    td:last-child {
      width: 30rem;
      text-align: center;
    }
  }

  button {
    width: auto;
    margin: 0 .5rem;
  }

  margin: 0 0 calc($menu-height + $footer-height) 0;

  @media (min-width: $breakpoint-tablet) {
    margin: calc($menu-height) 0 calc($footer-height) 0;
  }
}