@import '../../public/styles/variables';

.users {

  min-height: calc(100vh - ($menu-height + $footer-height));
  padding: 0 $container-padding;
  margin: 0 auto calc($menu-height + $footer-height) auto;
  
  .tableContainer {
    width: 101%;
    overflow-x: auto;

    table {
      width: 100%;
      margin: 4rem 0;
      border-spacing: 0;
  
      vertical-align: middle;

      tr {
        height: 100%;
      }
      
      td, th {
        height: 100%;
        padding: 1rem 1rem;
        border-bottom: 1px solid #ddd;
      }
      td:last-child {
        min-width: 30rem;
        text-align: center;
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    width: 80%;
    margin: calc($menu-height) auto calc($footer-height) auto;
  }
}

.user {
  min-height: calc(100vh - ($menu-height + $footer-height));
  padding: 0 $container-padding;

  display: flex;
  align-items: center;
  flex-direction: column;

  div {
    width: 100%;
    div {
      width: 100%;
    }
  }
  p {
    width: 100%;
    div {
      width: 50%;
      display: inline-block;
      word-wrap: none;
      padding: 2rem;
      border-bottom: 1px solid #ddd;
    }
    div:first-child {
      text-align: right;
    }
  }

  .image {
    height: 15rem;
    width: 10rem;
    overflow: hidden;
    margin: 4rem auto;

    img {
      height: 15rem !important;
      width: 15rem !important;
      max-height: 15rem !important;
      max-width: 15rem !important;

      margin-left: -2.5rem !important;
    }
    
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 48%;
    }

    padding: 4rem 0;
  }


  margin: 0 0 calc($menu-height + $footer-height) 0;

  @media (min-width: $breakpoint-tablet) {
    width: 80%;
    margin: calc($menu-height) auto calc($footer-height) auto;
  }
}