@import '../../public/styles/variables';

.profile {

  min-height: calc(100vh - ($menu-height + $footer-height));
  padding: 0 $container-padding;
  
  display: flex;
  align-items: center;
  flex-direction: column;

  div {
    height: 6.8rem;
    display: block;
    width: 100%;
  }
  
  form {
    
    label, input {
      padding: 1rem;
      
      display: block;
      border-radius: .4rem;
  
      margin: 1rem 0;
    }
  
    label {
      width: 40%;
      display: inline-block;
    }
  
    input {
      width: 60%;
      display: inline-block;
  
      border: 1px solid;
  
      &:focus-visible {
        outline: none;
      }
    }
  
    input:disabled {
      background: #eee;
      border-color: #aaa;
    }

    div:last-child {
      text-align: center;
      padding: 2rem 0 10rem 0;
    }
  }

  .image {
    height: 15rem;
    width: 10rem;
    overflow: hidden;
    margin: 4rem auto;

    img {
      height: 15rem !important;
      width: 15rem !important;
      max-height: 15rem !important;
      max-width: 15rem !important;

      margin-left: -2.5rem !important;
    }
  }

  button {
    width: 50%;
  }

  .invalid {
    margin-top: -.8rem;
    min-height: 1.7rem;
    display: block;

    padding: 0 0 0 41%;
    color: red;
    font-size: 1.2rem;
  }

  margin: 0 auto calc($menu-height + $footer-height) auto;

  @media (min-width: $breakpoint-tablet) {
    width: 80%;
    margin: calc($menu-height) auto calc($footer-height) auto;

    form {
      label {
        width: 20%;
      }
  
      input {
        width: 80%;
      }

      .invalid {
        padding-left: 21%;
      }
    }
  }
}