@font-face {
  font-family: "OpenSans";
  src: url(../font/open-sans.ttf) format("truetype");
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 800px;

$color-primary: #212121;
$color-background-primary: #FCC700;
$color-background-hover-primary: #FFD232;

$color-secondary: #FFFFFF;
$color-background-secondary: #212121;

$color-text-default: #212121;

$color-link-default: #212121;
$color-link-secondary: #FCC700;

$menu-height: 5.6rem;
$footer-height: 3rem;

$container-padding: 5%;
$container-max-width: 1200px;