@import '../public/styles/variables';

.home {

  min-height: calc(100vh - ($menu-height + $footer-height));
  padding: 0 $container-padding;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  h1 {
    padding: 4rem 0 1rem 0;
    text-align: center;
    margin-bottom: 2rem;
  }

  p {
    margin: 2rem 0;
  }

  a {
    margin-top: 4rem;
    width: 50%;
  }

  button {
    margin: 2rem 0 4rem;
    width: 50%;
  }

  margin: 0 0 calc($menu-height + $footer-height) 0;

  @media (min-width: $breakpoint-tablet) {
    margin: calc($menu-height) auto calc($footer-height) auto;
    max-width: 80%;
  }
}